h2{
  font-size: 25px;
}

.elegir-mascota{
    flex-direction: column;
  }

  .botones-ataque{
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 10px;
  }

  .cuadro{
    width:350px;
    margin-bottom: 30px;
  }

  .tarjeta-de-mokepon{
    width: 320px;
  }

  .mascotas-elegidas{
    margin-top: 14px;
  }

  .cuadro2{
    width:320px;
    margin: 4px;
    padding: 12px;
  }

  .h2{
    margin-top: 0px;
    margin-bottom: 9px;
  }

  .boton-ataque img {
    height: 60px;
  }
  
  .boton-ataque{
    width:90px;
    height:100px;
    margin-right: 4px;
    margin-left: 4px;
    font-size:18px;
    margin-top: 5px;
  }

  .cuadro-mascota{
    width:110px;
    height: 150px;
    margin: 0 7px;
    padding-bottom: 0px;
    font-size: 17px;
  }

#resultado{
  width: 85px;
  font-size: 14px;
  text-decoration: solid;
  font-family: 'Roboto', sans-serif;
  margin-top: 25px;
}

.imagen-selected{
  
  margin-top: 20px;
  height:80px;

}
.cuadro-mascota p {
  
  margin-top: 3px;
  margin-bottom: -9px;
  font-size: 12px;
  width: 92px;
}

#mensajeFinal{
    width: 350px;
    font-size: 16.5px;
    margin: 4px auto 0px;
}

#boton-fuego, #boton-agua, #boton-tierra {
  height: 16.5px;
  margin-top: 0.7px;
}

.img-ataque {
    height: 16.5px;
    margin-top: 0.7px;
    padding: 0px 0px 6px 8px;
}

#img-ataque-jugador, #img-ataque-enemigo {
    margin-top: 38px;
}

#versus{
    height: 55px;
    width: 55px;
    margin-top: 47px;
    font-size: 25px;
}

.vidas {
    margin:15px;
    height: 50px;
    padding-top: 7px;
    font-size: 13px;
    width: 35px;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 50px;
    margin-top: -5px;
}

.reglas{
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.remember{
  font-size: 20px;
}

.beats{
  margin: 3px 0px 2px 0px;
}

